/* Define CSS variables for easy theme adjustments */
:root {
    --main-bg: linear-gradient(135deg, #00BEE8, #0098D1);
    --header-text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    --nav-bg: #006aa5;
    --primary-color: #007bff;
    --link-color: #0056b3;
    --button-bg: #8364e8;
    --button-hover-bg: linear-gradient(to right, #f5bfd7, #abc9e9);
    --button-active-bg: linear-gradient(to right, #ffffff, #888988);
}

/* Resetting default margin and padding for a consistent look across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: var(--main-bg);
    color: #333;
}

header {
    background: var(--main-bg);
    text-shadow: var(--header-text-shadow);
    color: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

nav {
    background: var(--main-bg);
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: padding 0.3s ease, background-color 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #fff;
    text-shadow: var(--header-text-shadow);
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s, color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    color: black;
}

/* Compact navbar styling */
nav.compact {
    padding: 0.5rem 0;
    background-color: var(--nav-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Main content styles */
main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
    color: #333;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

pre {
    background: linear-gradient(135deg, #229799, aqua, #229799);
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

footer {
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 1px;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }

    main {
        padding: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.github-button {
    display: inline-block;
    background: var(--button-bg);
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
    text-align: center;
}

.github-button:hover {
    background: var(--button-hover-bg);
    transform: scale(1.05);
}

.github-button:active {
    background: var(--button-active-bg);
    transform: scale(0.98);
}


/* Initial state of the footer */
footer {
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth transition for hide/show effect */
}

/* Hidden state of the footer */
footer.hidden {
    transform: translateY(100%); /* Move the footer out of view */
}
